  
.drop-down{
    padding-top: 10Px;
    text-align: right;
    margin-right: 5%;
  }
  
  .table_margin{
    margin-right: 5%;
    padding-top: 10px;
   
  }
  .btn_class{
    margin-left: 94%;
  }
  #login {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 12%;
    text-align: left;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15%;
  }
  
  #login td, #login th {
    border: 1px solid #ddd;
    padding: 15px;
  }
  
  #login th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
  .is-invalid{
    border-color: red;
  }

  .signup{
    font-size: 14px;
    color: green;
    padding-left: 20px;
  }