.drop-down{
    padding-top: 10Px;
    text-align: right;
    margin-right: 5%;
}

.table_margin{
    margin-right: 5%;
    padding-top: 10px;
   
}
.btn_class{
    margin-left: 94%;
}
#Questions {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    text-align: center;
 }
  
  #Questions td, #Questions th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  textarea{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border:none;  
    background: white;
    resize: none;
  }
  /* input:hover {background-color: #ddd;} */
  #Questions tr:nth-child(even){background-color: #f2f2f2;}
  
  #Questions tr:hover {background-color: #ddd;}
  
  #Questions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .is-invalid{
    border-color: red;
  }