<html>
  <head>
      examtool
  </head>
  <body>
    
    <div ngClass="header" *ngIf="currentUser">
      <div ngClass="menu1">
        Test Details<br>
      </div>
      <div ngClass="menu2">
          <a routerLink="view"> View  </a> | <a routerLink="upload"> Upload </a> <span *ngIf="currentUser.role.roleName=='ADMIN'"> | <a routerLink="users">Users</a></span> 
          <a routerLink="profile" ngClass="logout">Hello {{currentUser.name | initcap}}</a> | 
          <a href (click)="logout()">Logout</a>
      </div>
    </div>
    <div ngClass="content">
      <router-outlet></router-outlet>
  </div>
  </body>
</html>
